[submodule "tests/html5lib-tests"]
	path = tests/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests
[submodule "tools/html5lib-python"]
	path = tools/html5lib-python
	url = https://github.com/html5lib/html5lib-python
[submodule "tools/bench-data/war-and-peace"]
	path = tools/bench-data/war-and-peace
	url = https://github.com/GITenberg/War-and-Peace_2600
	shallow = true
[submodule "tools/bench-data/readability"]
	path = tools/bench-data/readability
	url = https://github.com/mozilla/readability
	shallow = true
[submodule "tools/bench-data/normalize.css"]
	path = tools/bench-data/normalize.css
	url = https://github.com/necolas/normalize.css
	shallow = true
[submodule "tools/bench-data/pico"]
	path = tools/bench-data/pico
	url = https://github.com/picocss/pico
	shallow = true
[submodule "tools/bench-data/underscore"]
	path = tools/bench-data/underscore
	url = https://github.com/jashkenas/underscore
	shallow = true
[submodule "tools/bench-data/backbone"]
	path = tools/bench-data/backbone
	url = https://github.com/jashkenas/backbone
	shallow = true
[submodule "tests/conformance/unicodetools"]
	path = tests/conformance/unicodetools
	url = https://github.com/unicode-org/unicodetools
	shallow = true
[submodule "tests/conformance/parse5"]
	path = tests/conformance/parse5
	url = https://github.com/inikulin/parse5
	shallow = true
[submodule "tests/conformance/DOMPurify"]
	path = tests/conformance/DOMPurify
	url = https://github.com/cure53/DOMPurify
	shallow = true
[submodule "tests/conformance/libxml2"]
	path = tests/conformance/libxml2
	url = https://github.com/GNOME/libxml2
	shallow = true
[submodule "tests/conformance/libxslt"]
	path = tests/conformance/libxslt
	url = https://github.com/GNOME/libxslt
	shallow = true
[submodule "tests/conformance/xml-conformance-suite"]
	path = tests/conformance/xml-conformance-suite
	url = https://github.com/lddubeau/xml-conformance-suite.git
	shallow = true
[submodule "tests/conformance/qt3tests"]
	path = tests/conformance/qt3tests
	url = https://github.com/w3c/qt3tests
	shallow = true
