*.egg-info
build
builddir
dist
*.egg
.eggs
*.py[codz]
*$py.class
*.so
*.gcda
*.gcno
*.gcov
.mesonpy-*
.tox
.*_cache
.DS_Store
.idea
.vscode
/pip-wheel-metadata
.venv*
venv*
.python-version
.coverage
.coverage.*
docs_out
src/turbohtml/_version.py
tools/.bench_data/
